{% extends "base.html" %}
{% load i18n %} <!-- allows for the use of the trans tag in templates -->
{% block title %}Clean.Data.{% endblock %}

{% block libs %}
    <script type="text/javascript" src="/static/user/js/d3.v2.js"></script>
    <script type="text/javascript" src="/static/user/js/mapper.js"></script>
	<link type="text/css" href="/static/user/css/map_style.css" rel="stylesheet" />
{% endblock %}

{% block onload %}
  onload=plotMap()
{% endblock %}

{% block content %}
<div class="container" id="main">
	<div class="row">
		<div class="span12">
		<legend>Add Data Relation</legend>
		<form method="post" action="" class="form-horizontal">
		<fieldset>
		  {% csrf_token %}
		  
			<div class="control-group">
			  	<label class="control-label">Source</label>
			  	<div class="controls">
				<div class="input-append">
				  	<input type="text" placeholder="name of source" id="source_search_input"/>
				  	<button class="btn" type="button" onclick="searchForSets('source_search')">Find</button>
				</div>
			  	</div>
			</div>
			<div class="control-group">
			  	<label class="control-label">Pick the source</label>
			  	<div class="controls">
					<select class="span3" id="source_search_select" name="source_search_select" required >
					</select>
			  	</div>
			</div>
			<div class="control-group">
			  	<label class="control-label">Derivative</label>
			  	<div class="controls">
				<div class="input-append">
				  	<input type="text" placeholder="name of derivative" id="derivative_search_input"/>
				  	<button class="btn" type="button" onclick="searchForSets('derivative_search')">Find</button>
				</div>
			  	</div>
			</div>
			<div class="control-group">
			  	<label class="control-label">Pick the derivative</label>
			  	<div class="controls">
					<select class="span3" id="derivative_search_select" name="derivative_search_select" required>
					</select>
			  	</div>
			</div>
			<div class="control-group">
			  	<label class="control-label">Describe how the data was processed</label>
			  	<div class="controls">
					<textarea class="input-xxlarge" id="how_data_was_processed" name="how_data_was_processed" rows=5></textarea>
			  	</div>
			</div>
			<div class="control-group">
			  	<label class="control-label">URL for processing code</label>
			  	<div class="controls">
					<input type="text" id="processing_url" name="processing_url" placeholder="optional" />
			  	</div>
			</div>
			<div class="control-group">
				<div class="controls">
				
				  <button type="submit" value="{% trans 'Submit' %}" class="btn btn-primary">Add Relation</button>
				  <button type="button" class="btn" onclick="location.href='{% url "index" %}'">Cancel</button>
				</div>
			</div>
			

		</fieldset>
		</form>
		</div>
	</div>

</div>
<script>

function searchForSets(input){
	$("#"+input+"_select").html("");
	var term=$("#"+input+"_input").val();
	if(term==""){
		alert("You must enter a search term to find a dataset");
		return false;
	}
	$.ajax({
				type: "GET",
				url: "api/v1/min_dataset/",
				data: { format: "json", name__icontains: term }
			})
			.done(function( data ) {
				for(var i in data.objects){
					$('<option>')
						.val(data.objects[i].id)
						.text(data.objects[i].name+" ("+data.objects[i].data_format.name+")")
						.appendTo('#'+input+'_select');
				}
		  });	
}
</script>

{% endblock %}

