{% extends "base.html" %}
{% block title %}Clean.Data.{% endblock %}

{% block libs %}
    <script type="text/javascript" src="/static/user/js/d3.v2.js"></script>
    <script type="text/javascript" src="/static/user/js/mapper.js"></script>
	<link type="text/css" href="/static/user/css/map_style.css" rel="stylesheet" />
{% endblock %}

{% block onload %}
  onload=plotMap()
{% endblock %}

{% block content %}

<div class="container">
	<div class="row-fluid">
		<div class="span3" id="sidebar">
			<div><h4><span id="dataset_name">Electricity Use Normalised by Household</span></h4></div>
			<div>Manager: <span id="dataset_owner"><a ref="users/jonroberts">Jonathan Roberts</a></span></div>
			<div>Contributors: <span id="dataset_contributors"><a href="users/jeffallen">Jeff Allen</a>, <a href="users/ronniejansson">Ronnie Jansson</a></span></div>
			<div>Location: <span id="dataset_url"><a href="http://www.github.com/jonroberts/zipcodegrid">EnergyZip Repository</a></span></div>
			<div>License: <span id="dataset_license"><a href="datacommons.org">Open Data</a></span></div>
			<div>Format: <span id="dataset_format"><a href="http://json.org">JSON</a></span></div>
			<div>Catalog: <span id="dataset_catalog">None</span></div>
			<div>Date Created: <span id="dataset_date_created">12th May 2013</span></div>
			<div>Last Edited: <span id="dataset_last_edited">23rd June 2013</span></div>
			<div>Sources:</div>
			<ul id="dataset_sources">
				<li><a href="#NYC-Zipcode-JSON">NYC Zipcode JSON</a></li>
				<li><a href="#2010-Census-Households">2010 Census - Households</a></li>
				<li><a href="#2010-Census-Population">2010 Census - Population</a></li>
				<li><a href="#Electric-Consumption-by-Zipcode-2010">Electric Consumption by Zipcode - 2010</a></li>
				<li><a href="#Retail-Sales-Of-Electricity-Monthly">Retail Sales of Electricity - Monthly</a></li>
			</ul>
			<div>Derivatives</div>
			<ul id="dataset_sources">
				<li>None</li>
			</ul>
			<hr/>
			<p>Datasets often paired with this:</p>
			<ul>
				<li>Solar energy coverage</li>
				<li>...</li>
			</ul>
		</div>
		<div class="span9" id="data_map"></div>
	</div>
</div>

{% endblock %}


























