{% extends "base.html" %}
{% block title %}Clean.Data.{% endblock %}

{% block libs %}{% endblock %}

{% block pageStyles %}
    <style>

    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-top: 40px;
      color: #5a5a5a;
    }

    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 30px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }

	.slogan{
      text-align: center;
	}
	.slogan h2,h3,h4{
      font-weight: normal;
	}

    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }
    </style>
{% endblock %}

{% block onload %}{% endblock %}
	
{% block content %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/user/img/images/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>What?</h1>
              <p class="lead">Value proposition ...</p>
              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/user/img/images/slide-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Who?</h1>
              <p class="lead">Clean.Data. is a non-profit committed to ...</p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/user/img/images/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Examples</h1>
              <p class="lead">Hear about awesome cases where Clean.Data. saved money, time, and the world!</p>
              <a class="btn btn-large btn-primary" href="#">Browse examples</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
      <div class="row slogan">
        <div class="span12">
			<h2>Clean.Data.</h2>
			<h4 class="muted">Saving scientists time. Saving industry money. Revealing the value of Open Data.</h4>
        </div>
      </div>
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">

          <h2>Save Time</h2>
          <p>You shouldn't need to clean up a public dataset - other scientists have already done it. Start with the clean data and save days of work.</p>
          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Discover</h2>
          <p>Which datasets are most often used together? What data did a project use? How many applications does an open dataset power?</p>
          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Share</h2>
          <p>You cleaned that dataset, now share it with the world. When people use the data - you see it, and get credit.</p>
          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="/static/user/img/images/browser-icon-chrome.png">
        <h2 class="featurette-heading">For Data Scientists: <br/><span class="muted">Discover datasets.<br/>Be discovered.</span></h2>
        <p class="lead">You know the story - you spend an hour searching for a dataset, download it, spend another hour trying to unpack the proprietary data format and then lose a day figuring out why a month of data was overwritten with raw html <span class="muted">true story</span>. You're not alone. Everyone using that data has done the same thing. Why not skip the pain and just use their clean data? Because you couldn't find it - until now. Find clean data - and share your own and get credit.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="/static/user/img/images/browser-icon-firefox.png">
        <h2 class="featurette-heading">For Industry: <br/><span class="muted">Save time.<br/>Sell data.</span></h2>
        <p class="lead">Your analysts waste hours cleaning datasets - data that's already been cleaned in another company, government department or academic lab. Use Clean.Data. to discover cleaned datasets and save days. Clean.Data. datasets don't have to be public and open source - they can be proprietary. The network of data shows where your datasets have been used. After all - if 100s of researchers are using your data it's easier for the 101st to decide to buy it.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="/static/user/img/images/browser-icon-safari.png">
        <h2 class="featurette-heading">For Governments:<br/><span class="muted">Open Data creates value.<br/>Show it.</span></h2>
        <p class="lead">Do you know where your data goes when you set it free? We do. You can now see the value created by Open Data initiatives.</p>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Clean.Data. &middot; <!--<a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
      </footer>

    </div><!-- /.container -->

{% endblock %}

{% block jqueryScripts %}
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="/static/user/js/holder.js"></script>

{% endblock %}
